
/* Header (INDEX)*/
.header {
    padding: 4rem 0 2rem 0;
}
.header-information__h1 {
    font-size: 4rem;
    margin: 0 8rem 5rem 0;
}

/* Main */
.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
}

.about-container__information {
    width: 60%;
}

.about-container__p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 3rem 5rem 3rem 0;
}
.about-container__picture {
    width: 40%;
    height: 100%;
    position: relative;
}

.about-container__img1 {
    width: 35rem;
    position: absolute;
    left: -6rem;
    top: 7rem;
}

.about-container__img2 {
    width: 35rem;
    position: absolute;
    left: -3rem;
    top: 4rem;
}

.about-container__img3 {
    width: 35rem;
    position: absolute;
    left: 0rem;
    top: 1rem;
}

/* Footer */
.footer {
    margin-top: 13rem;
}